---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Page from "../layouts/Page.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Page title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<main>
		<h1 class="text-3xl font-serif">Welcome!</h1>
		<p>
			My name is Luke. I'm a software engineer in Columbus, Ohio. Here,
			you'll find my various rants about tech, software development, and
			other things I'm passionate about!
		</p>
		<section class="my-8">
			<h2 class="text-2xl font-serif">Recent Posts</h2>
			<ul class="flex flex-col my-3 gap-4">
				{
					posts
						.reverse()
						.slice(0, 5)
						.map((post) => (
							<li>
								<div class="flex gap-4 items-center">
									<a href={`/blog/${post.slug}/`}>
										<h3 class="text-2xl font-serif">
											{post.data.title}
										</h3>
									</a>
									<FormattedDate
										date={post.data.pubDate}
										class="text-stone-500 "
									/>
								</div>
								<p>{post.data.description}</p>
							</li>
						))
				}
			</ul>
		</section>
	</main>
</Page>
