---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Page from "./Page.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Page title={title} description={description}>
	<main>
		<article>
			<header class="my-4">
				{
					heroImage ? (
						<img width={720} height={360} src={heroImage} alt="" />
					) : null
				}
				<h1 class="text-4xl font-serif mt-4 mb-2">{title}</h1>
				<div class="text-stone-500">
					Published
					<FormattedDate date={pubDate} />
				</div>
				{
					updatedDate ? (
						<div class="last-updated-on">
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					) : null
				}
				<hr />
			</header>
			<main
				class="prose prose-stone prose-headings:font-serif prose-headings:text-stone-700 prose-headings:font-normal prose-a:my-0 prose-a:text-amber-700"
			>
				<slot />
			</main>
		</article>
	</main>
</Page>
